# node_modules
node_modules
!tests/fixtures/*/node_modules/

# Build output
dist/

# IDE files
.vscode/
.idea/
*.iml

# cursor
.cursor
!tests/fixtures/*/.cursor/

# windsurf
.windsurfrules
!tests/fixtures/*/.windsurfrules

# aicm
.aicm
!tests/fixtures/*/.aicm
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System Files
.DS_Store

# Temporary test directory
tmp-test/

PRD